.square {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
}

.square-source {
    background-color: green;
}

.square-destination {
    background-color: red;

}

.square-visited {
    background-color: pink;
}