.sidebar-container {
    position: absolute;
    left: 0;
    width: 20rem;
    height: 81vh;
    padding: 0.75rem;
    background: #f3f4f4;
    transition: width 350ms ease;
    border-right: 1px solid #d4d8dd;
    overflow-x: hidden;
}
.item-active {
    background-color: #dbe4f3;
}

.sidebar-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}
  

.items-list {
    padding-left: 0;
    list-style: none;
}

.item-container {
    margin-top: 0.5rem;
    width: 100%;
    padding: 0.5rem 0.25rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.item-wrapper {
    display: flex;
    align-items: center;
    color: #7c7788;
}

.item-name {
    margin-left: 0.5rem;
    display: "block";
    text-transform: capitalize;
}


p {
    color: #cf1010;
    padding: 10px;
    margin: 0px;
}
  
.collapse.show, 
.collapsing {
    background: #313b4c;
}

li a.dropdown-toggle::after {
    display: inline-flex;
    position: relative;
    left: 60%;
    top: 10%
}
  
  

.btn {
    margin: 1rem 1rem 0 0;
    display: flex;
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 1px solid #808080;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }